.footer {
    padding-top: 3rem;
    height: 15vh;
    outline: 1px dashed red;
}

.footer-inner {
    outline: 1px dashed red;
    padding-top: 2rem;
    position: relative;
    border-top: 1px solid white !important;
    border-width: 50%;
    width: 33%;
    margin-left: 32%;
    font-size: 0.8rem;
    color: black;
}