html,
body {
    margin: 0;
    overflow: visible;
}


.container {
    position: relative;
}

.video{
     width: 600;
     height: 400;
}

.canvas {
    position: relative;
    outline: 1px dashed red;
    z-index: 10;

}


.label {
    color: #FFF;
    font-family: sans-serif;
    padding: 2px;
    background: rgba( 0, 0, 0, .6 );
}