html,
body {
    margin: 0;
    overflow: visible;
}


.container {
    position: relative;
}

.video{

}

.canvas {
    position: absolute;
    outline: 1px dashed red;
    z-index: 9;

}

.canvas2 {
    position: absolute;
    outline: 1px dashed blue;
    z-index: 6;


}


.label {
    color: #FFF;
    font-family: sans-serif;
    padding: 2px;
    background: rgba( 0, 0, 0, .6 );
}
